.chat-main
  .main-header
    .group
      .group__title
        = @group.name
      .group__member
        - @group.users.each do |user|
          = user.name
    .btn
      .btn__edit
        = link_to edit_group_path(@group.id), class:"edit_btn" do
          Edit

  .messages
    = render @messages

  .form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: "input-box__image__file" 
      = f.submit "Send", class: "submit-btn" 